---
import Card from '@/components/Card.astro'
import projectOne from '@/images/5.webp'
import projectTwo from '@/images/6.webp'
import projectThree from '@/images/3.webp'
import projectFour from '@/images/2.webp'
import projectFive from '@/images/4.webp'
---

<section
  data-projects
  class="flex flex-col gap-10 lg:gap-12 py-32 lg:pb-40 2xl:py-48 px-8 overflow-clip"
>
  <h2
    class="w-full max-w-2xl mx-auto text-black text-3xl lg:text-4xl 2xl:text-5xl text-center font-semibold"
  >
    Mis clientas
  </h2>

  <div data-projects-wrapper class="w-full max-w-2xl mx-auto">
    <ul data-projects-list class="flex gap-8 lg:gap-16 w-max">
      <li>
        <Card
          image={projectOne}
          title="Manicura"
          description="Embellece tus manos con una técnica profesional y detallada."
          link="#"
        />
      </li>
      <li>
        <Card
          image={projectTwo}
          title="Pedicura Rusa"
          description="Disfruta de un cuidado único para tus pies con una pedicura rusa precisa y elegante."
          link="#"
        />
      </li>
      <li>
        <Card
          image={projectThree}
          title="Lifting y Pestañas"
          description="Realza tu mirada con un lifting que aporta volumen y definición a tus pestañas."
          link="#"
        />
      </li>
      <li>
        <Card
          image={projectFour}
          title="Diseño y Laminado de Cejas"
          description="Define tus cejas con un diseño y laminado personalizado que resalta tu rostro."
          link="#"
        />
      </li>
      <li>
        <Card
          image={projectFive}
          title="Maquillaje Profesional"
          description="Luce un maquillaje profesional que se adapta a tu estilo y ocasión especial."
          link="#"
        />
      </li>
    </ul>
  </div>
  
</section>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const projects = document.querySelector('[data-projects]') as HTMLElement
    const projectsWrapper = projects.querySelector(
      '[data-projects-wrapper]'
    ) as HTMLElement
    const projectsList = projects.querySelector(
      '[data-projects-list]'
    ) as HTMLElement
    const width = projectsList.clientWidth - projectsWrapper.clientWidth
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: projects,
        start: 'top top',
        end: 'bottom top',
        scrub: true,
        pin: true,
      },
    })

    tl.fromTo(projectsList, { x: 0 }, { x: -width, duration: 1 })
  })
</script>
